[role='group'] {
  padding: 20px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;

  .box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 3px solid currentColor;
		color: #fff;

    &.box--small {
      padding: 10px;
    }

    &.box--large {
      padding: 40px;
    }
  }
}
